{% extends "admin/change_list.html" %}

{% block content %}
  <div class="col-12" style="overflow: hidden; margin-bottom: 20px;">
    <button type="button" id="approve-sent" class="button btn btn-primary" style="float: right; margin-left: 10px;">
      Approve & Send
    </button>
    <button type="button" id="generate-btn" class="button btn btn-success" style="float: right;">
      Generate Quotations
    </button>
  </div>
  {{ block.super }}
{% endblock %}


{% block extrahead %}
  {{ block.super }}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const generate_quote_btn = document.getElementById('generate-btn');
      generate_quote_btn.addEventListener('click', function() {
        generate_quote_btn.disabled = true;
        const generateQuoteUrl = "{% url 'generate_pending_quotations' %}";
        fetch(`${generateQuoteUrl}`, {
          method: 'POST',
          headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json'
          },
        })
        .then(response => response.json())
        .then(data => {
          alert(`✅ Created ${data.created} quotations.`);
          location.reload();
        })
        .catch(error => {
          alert('❌ Failed to generate quotations.');
          console.error(error);
          generate_quote_btn.disabled = false;
        });
      });
      
      const approve_sent_button = document.getElementById('approve-sent');
      approve_sent_button.addEventListener('click', function() {
        approve_sent_button.disabled = true;
        const quotesentUrl = "{% url 'send_quotes' %}";
        fetch(`${quotesentUrl}`, {
          method: 'POST',
          headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/x-www-form-urlencoded',
          },
        })
        .then(response => response.json())
        .then(data => {
          alert('Sent to Make: ' + JSON.stringify(data));
          location.reload();
        });
      });
    });
  </script>
{% endblock %}